*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, rgb(15, 70, 116), rgba(11, 11, 219, 0.664));
    background-attachment: fixed;
    width: 100%;
    /* max-width: 1440px; */
}

h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.container-foto {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-foto{
    width: 700px;
	background: linear-gradient(rgb(8, 63, 77), rgb(13, 178, 219));
	border-radius: 22px;
	/* position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	text-align: center;
	padding-top: 20px;
    padding-bottom: 22px;
	color: #fff;
	align-items: center;
	line-height: 50px;
	box-shadow: 4px 5px 0px 0px #1d1c1c;
}

.box{
	width: 100%;
	height: 100%;
}
.box-bike{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-bike img{
    max-width:650px;
    max-height:650px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.box-camera{    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-camera img{
    border: 2px solid black;
    border-radius: 100%;
    padding: 5px;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}
.btn{
	padding: 10px;
	width: 20%;
	margin: 17px;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, rgb(8, 63, 77), rgb(13, 178, 219));
	cursor: pointer;
}